# More Practice With SQL Queries - Lab

## Introduction

In this lesson, we'll run through some practice questions to refresh our knowledge of SQL Queries!

## Objectives

You will be able to:

- Practice your SQL knowledge

## Getting Started

As in previous labs, we'll make use of the `sqlite3` library as well as `pandas`. By combining them, we'll be able to write our queries as python strings, and make sure that the results are always returned as a pandas DataFrame. 

We'll start by loading both libraries and connecting to the database we'll be using for this lab, `data.sqlite`. You may remember this database from a previous lab. As a refresher, here's the ERD diagram for this database: 

<img src='images/Database-Schema.png'>

In the cell below:

* Import the necessary libraries `pandas` and `sqlite3`
* Establish a connection to the database `data.sqlite`
* Get the `cursor` from the connection and store it in the variable `c`.

In [2]:
import pandas as pd
import sqlite3 
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Basic Queries

Now, let's review basic SQL queries. In the cell below:

* Write a query that gets the first name, last name, phone number, address, and credit limit for all customers in California with a credit limit greater than 25000.00.

In [6]:
# For the first query, the boilerplate for getting 
#the query into a dataframe has been provided for you
c.execute("""SELECT contactFirstName, phone, contactLastName, addressLine1, creditLimit
            FROM customers
            WHERE creditLimit > 25000""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,contactFirstName,phone,contactLastName,addressLine1,creditLimit
0,Jean,7025551838,King,8489 Strong St.,71800.0
1,Peter,03 9520 4555,Ferguson,636 St Kilda Road,117300.0
2,Janine,40.67.8555,Labrune,"67, rue des Cinquante Otages",118200.0
3,Jonas,07-98 9555,Bergulfsen,Erling Skakkes gate 78,81700.0
4,Susan,4155551450,Nelson,5677 Strong St.,210500.0
5,Roland,+49 69 66 90 2555,Keitel,Lyonerstr. 34,59700.0
6,Julie,6505555787,Murphy,5557 North Pendale Street,64600.0
7,Kwai,2125557818,Lee,897 Long Airport Avenue,114900.0
8,Diego,(91) 555 94 44,Freyre,"C/ Moralzarzal, 86",227600.0
9,Christina,0921-12 3555,Berglund,Berguvsvägen 8,53100.0
10,Jytte,31 12 3555,Petersen,Vinbæltet 34,83400.0
11,Mary,78.32.5555,Saveley,"2, rue du Commerce",123900.0
12,Eric,+65 221 7555,Natividad,Bronz Sok.,103800.0
13,Jeff,2125557413,Young,4092 Furth Circle,138500.0
14,Kelvin,2155551555,Leong,7586 Pompton St.,100600.0
15,Juri,6505556809,Hashimoto,9408 Furth Circle,84600.0
16,Wendy,+65 224 1555,Victorino,106 Linden Road Sandown,97900.0
17,Veysel,+47 2267 3215,Oeztan,Brehmen St. 121,96800.0
18,Martine,20.16.1555,Rancé,"184, chaussée de Tournai",82900.0
19,Marie,(1) 42.34.2555,Bertrand,"265, boulevard Charonne",84300.0
20,Jerry,6175555555,Tseng,4658 Baden Av.,43400.0
21,Julie,2035552570,King,25593 South Bay Ln.,84300.0
22,Mory,+81 06 6342 5555,Kentary,1-6-20 Dojima,81200.0
23,Michael,2125551500,Frick,2678 Kingston Rd.,76400.0
24,Matti,90-224 8555,Karttunen,Keskuskatu 45,96500.0
25,Rachel,(171) 555-1555,Ashworth,Fauntleroy Circus,136800.0
26,Dean,+353 1862 1555,Cassidy,25 Maiden Lane,69400.0
27,Elizabeth,(171) 555-2282,Devon,"12, Berkeley Gardens Blvd",92700.0
28,Yoshi,(604) 555-3392,Tamuri,1900 Oak St.,90300.0
29,Miguel,6175557555,Barajas,7635 Spinnaker Dr.,68700.0
...,...,...,...,...,...
64,Paul,26.47.1555,Henriot,59 rue de l'Abbaye,81100.0
65,Wales,64-9-3763555,MacKinlay,199 Great North Road,77700.0
66,Juri,6175559555,Yoshido,8616 Spinnaker Dr.,41900.0
67,Dorothy,6035558647,Young,2304 Long Airport Avenue,114200.0
68,Allen,6175558555,Nelson,7825 Douglas Av.,70700.0
69,Georg,6562-9555,Pipps,Geislweg 14,71700.0
70,Arnold,+63 2 555 3587,Cruz,15 McCallum Street,81500.0
71,Maurizio,0522-556555,Moroni,Strada Provinciale 124,121400.0
72,Akiko,+81 3 3584 0555,Shimamura,2-2-8 Roppongi,94400.0
73,Dominique,(1) 47.55.6555,Perrier,"25, rue Lauriston",95000.0
74,Sarah,04 499 9555,McRoy,101 Lambton Quay,86800.0
75,Michael,+49 89 61 08 9555,Donnermeyer,Hansastr. 15,77000.0
76,Maria,2125558493,Hernandez,5905 Pompton St.,67500.0
77,Dan,2035554407,Lewis,2440 Pompton St.,49700.0
78,Martha,0695-34 6555,Larsson,Åkergatan 24,116400.0
79,Sue,4085553659,Frick,3086 Ingle Ln.,77600.0
80,Roland,7675-3555,Mendel,Kirchgasse 6,45300.0
81,Leslie,2035559545,Murphy,567 North Pendale Street,95400.0
82,Yu,2125551957,Choi,5290 North Pendale Street,39800.0
83,Martín,(91) 555 22 82,Sommer,"C/ Araquil, 67",104600.0
84,Violeta,5085552555,Benitez,1785 First Street,85800.0
85,Sean,61-9-3844-6555,Clenahan,7 Allen Street,60300.0
86,Franco,+39 022515555,Ricotti,20093 Cologno Monzese,34800.0
87,Steve,3105553722,Thompson,3675 Furth Circle,55400.0
88,José Pedro,(95) 555 82 82,Roel,"C/ Romero, 33",65700.0
89,Rosa,2155559857,Salazar,11328 Douglas Av.,72600.0
90,Sue,4155554312,Taylor,2793 Furth Circle,60300.0
91,Thomas,(171) 555-7555,Smith,120 Hanover Sq.,43300.0
92,Valarie,6175552555,Franco,6251 Ingle Ln.,85100.0
93,Tony,+64 9 5555500,Snowden,Arenales 1938 3'A',110000.0

#### Expected Output

<img src='images/expected-output-1.png'>

## Aggregate Functions and GROUP BY

Next, write a query that get sthe average credit limit per state.

In [12]:
c.execute("""SELECT state, avg(creditLimit)
              FROM customers
              GROUP BY state""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

            state  avg(creditLimit)
0                      61839.726027
1              BC      89950.000000
2              CA      83854.545455
3              CT      57350.000000
4        Co. Cork          0.000000
5   Isle of Wight      93900.000000
6              MA      70755.555556
7              NH     114200.000000
8              NJ      43000.000000
9             NSW     100550.000000
10             NV      71800.000000
11             NY      89966.666667
12          Osaka      81200.000000
13             PA      84766.666667
14       Pretoria          0.000000
15     Queensland      51600.000000
16         Québec      48700.000000
17          Tokyo      94400.000000
18       Victoria      88800.000000

#### Expected Output

<img src='images/expected-output-2.png'>

## JOINs

Now, write a query that uses JOIN statements to get the customer name, customer number, order number, status, and quantity ordered. Print only the head of this DataFrame.

In [3]:
c.execute("""SELECT customerName, orders.customerNumber, orders.orderNumber, status, quantityOrdered
              FROM customers
              LEFT JOIN  orders
              USING(customerNumber)
              LEFT JOIN orderdetails
              USING(orderNumber)""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

            customerName customerNumber orderNumber     status quantityOrdered
0      Atelier graphique            103       10123    Shipped              26
1      Atelier graphique            103       10123    Shipped              34
2      Atelier graphique            103       10123    Shipped              46
3      Atelier graphique            103       10123    Shipped              50
4      Atelier graphique            103       10298    Shipped              32
5      Atelier graphique            103       10298    Shipped              39
6      Atelier graphique            103       10345    Shipped              43
7     Signal Gift Stores            112       10124    Shipped              21
8     Signal Gift Stores            112       10124    Shipped              22
9     Signal Gift Stores            112       10124    Shipped              22
10    Signal Gift Stores            112       10124    Shipped              23
11    Signal Gift Stores            112       10124    Shipped              25
12    Signal Gift Stores            112       10124    Shipped              32
13    Signal Gift Stores            112       10124    Shipped              36
14    Signal Gift Stores            112       10124    Shipped              42
15    Signal Gift Stores            112       10124    Shipped              42
16    Signal Gift Stores            112       10124    Shipped              43
17    Signal Gift Stores            112       10124    Shipped              45
18    Signal Gift Stores            112       10124    Shipped              46
19    Signal Gift Stores            112       10124    Shipped              49
20    Signal Gift Stores            112       10278    Shipped              23
21    Signal Gift Stores            112       10278    Shipped              25
22    Signal Gift Stores            112       10278    Shipped              29
23    Signal Gift Stores            112       10278    Shipped              29
24    Signal Gift Stores            112       10278    Shipped              31
25    Signal Gift Stores            112       10278    Shipped              31
26    Signal Gift Stores            112       10278    Shipped              34
27    Signal Gift Stores            112       10278    Shipped              35
28    Signal Gift Stores            112       10278    Shipped              39
29    Signal Gift Stores            112       10278    Shipped              42
...                  ...            ...         ...        ...             ...
2990   Kelly's Gift Shop            496       10179  Cancelled              34
2991   Kelly's Gift Shop            496       10179  Cancelled              39
2992   Kelly's Gift Shop            496       10179  Cancelled              45
2993   Kelly's Gift Shop            496       10179  Cancelled              47
2994   Kelly's Gift Shop            496       10360    Shipped              22
2995   Kelly's Gift Shop            496       10360    Shipped              22
2996   Kelly's Gift Shop            496       10360    Shipped              26
2997   Kelly's Gift Shop            496       10360    Shipped              29
2998   Kelly's Gift Shop            496       10360    Shipped              29
2999   Kelly's Gift Shop            496       10360    Shipped              30
3000   Kelly's Gift Shop            496       10360    Shipped              31
3001   Kelly's Gift Shop            496       10360    Shipped              31
3002   Kelly's Gift Shop            496       10360    Shipped              31
3003   Kelly's Gift Shop            496       10360    Shipped              32
3004   Kelly's Gift Shop            496       10360    Shipped              35
3005   Kelly's Gift Shop            496       10360    Shipped              36
3006   Kelly's Gift Shop            496       10360    Shipped              40
3007   Kelly's Gift Shop            496       10360    Shipped              40
3008   Kelly's Gift Shop            496       10360    Shipped              41
3009   Kelly's Gift Shop            496       10360    Shipped              46
3010   Kelly's Gift Shop            496       10360    Shipped              49
3011   Kelly's Gift Shop            496       10360    Shipped              50
3012   Kelly's Gift Shop            496       10399    Shipped              22
3013   Kelly's Gift Shop            496       10399    Shipped              29
3014   Kelly's Gift Shop            496       10399    Shipped              30
3015   Kelly's Gift Shop            496       10399    Shipped              32
3016   Kelly's Gift Shop            496       10399    Shipped              40
3017   Kelly's Gift Shop            496       10399    Shipped              51
3018   Kelly's Gift Shop            496       10399    Shipped              57
3019   Kelly's Gift Shop            496       10399    Shipped              58

[3020 rows x 5 columns]

#### Expected Output

<img src='images/expected-output-3.png'>

## HAVING and ORDER BY

Now, return the customerName, customrerNumber, productName, productCode and total number ordered for any product a customer has bought 10 or more of cumulatively. Sort the rows in descending order by the quantity ordered. 

**_Hint_**: For this one, you'll need to make use of HAVING, GROUP BY, and ORDER BY--make sure you get the order of them correct!

In [16]:
c.execute("""SELECT customerName, customerNumber, productName, status, quantityOrdered
              FROM customers
              LEFT JOIN orders
              USING(customerNumber)
              LEFT JOIN orderdetails
              USING(orderNumber)
              LEFT JOIN products
              USING(productCode)
              GROUP BY customerNumber
              HAVING quantityOrdered > 9 
              ORDER BY quantityOrdered DESC""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,customerName,customerNumber,productName,status,quantityOrdered
0,Mini Caravy,209,1956 Porsche 356A Coupe,Shipped,76
1,Salzburg Collectables,382,1956 Porsche 356A Coupe,Shipped,70
2,Danish Wholesale Imports,145,1948 Porsche Type 356 Roadster,Disputed,65
3,Handji Gifts& Co,166,1939 Chevrolet Deluxe Coupe,Shipped,61
4,Auto Canal+ Petit,406,1960 BSA Gold Star DBD34,Shipped,59
5,Gift Depot Inc.,175,1962 City of Detroit Streetcar,Shipped,51
6,Technics Stores Inc.,161,1997 BMW R 1100 S,Shipped,50
7,Daedalus Designs Imports,171,2002 Yamaha YZR M1,Shipped,50
8,"Norway Gifts By Mail, Co.",299,1956 Porsche 356A Coupe,Shipped,50
9,Suominen Souveniers,334,1997 BMW F650 ST,Shipped,50
10,GiftsForHim.com,357,1936 Chrysler Airflow,Shipped,50
11,FunGiftIdeas.com,462,ATA: B757-300,Shipped,50
12,Auto-Moto Classics Inc.,198,Boeing X-32A JSF,Shipped,49
13,Corporate Gift Ideas Co.,321,The Mayflower,Shipped,49
14,CAF Imports,344,1969 Ford Falcon,Shipped,49
15,Scandinavian Gift Ideas,448,1960 BSA Gold Star DBD34,Shipped,49
16,Collectable Mini Designs Co.,239,2002 Chevy Corvette,Shipped,48
17,"Down Under Souveniers, Inc",323,1961 Chevrolet Impala,Shipped,48
18,"Men 'R' US Retailers, Ltd.",347,Boeing X-32A JSF,Shipped,48
19,Marseille Mini Autos,350,1982 Ducati 996 R,Shipped,48
20,"Blauer See Auto, Co.",128,1940s Ford truck,Shipped,47
21,Gifts4AllAges.com,362,Pont Yacht,On Hold,47
22,Euro+ Shopping Channel,141,1982 Camaro Z28,In Process,46
23,"La Corne D'abondance, Co.",172,1982 Camaro Z28,Shipped,46
24,"Australian Gift Network, Co",333,1928 British Royal Navy Airplane,Shipped,46
25,"Australian Collectors, Co.",114,1940s Ford truck,Shipped,45
26,Herkku Gifts,167,1938 Cadillac V-16 Presidential Limousine,Shipped,45
27,Online Mini Collectables,204,The Queen Mary,Shipped,45
28,Lyon Souveniers,250,1962 City of Detroit Streetcar,Shipped,45
29,Microscale Inc.,456,2002 Yamaha YZR M1,Shipped,45
...,...,...,...,...,...
68,"Classic Gift Ideas, Inc",339,Boeing X-32A JSF,Shipped,34
69,Reims Collectables,353,Boeing X-32A JSF,Shipped,34
70,Royale Belge,381,1992 Ferrari 360 Spider red,Shipped,34
71,Frau da Collezione,473,1992 Ferrari 360 Spider red,Shipped,34
72,Mini Wheels Co.,129,1996 Peterbilt 379 Stake Bed with Outrigger,Shipped,33
73,Muscle Machine Inc,151,1954 Greyhound Scenicruiser,Shipped,33
74,"Royal Canadian Collectables, Ltd.",260,Pont Yacht,Shipped,33
75,Diecast Collectables,495,1939 Chevrolet Deluxe Coupe,Shipped,33
76,Cambridge Collectables Co.,173,Boeing X-32A JSF,Shipped,32
77,Amica Models & Co.,249,Pont Yacht,Shipped,32
78,"Corrida Auto Replicas, Ltd",458,1982 Camaro Z28,Shipped,32
79,Kelly's Gift Shop,496,1997 BMW F650 ST,Shipped,32
80,"UK Collectables, Ltd.",201,2002 Yamaha YZR M1,Shipped,31
81,Canadian Gift Exchange Network,202,1982 Camaro Z28,Shipped,30
82,Online Diecast Creations Co.,363,1938 Cadillac V-16 Presidential Limousine,Shipped,30
83,Enaco Distributors,216,ATA: B757-300,Shipped,29
84,"Oulu Toy Supplies, Inc.",311,Pont Yacht,Shipped,29
85,Petit Auto,314,1936 Chrysler Airflow,In Process,28
86,"Saveley & Henriot, Co.",146,1936 Mercedes Benz 500k Roadster,Shipped,27
87,"Double Decker Gift Stores, Ltd",489,1952 Citroen-15CV,Shipped,27
88,Diecast Classics Inc.,157,1936 Mercedes-Benz 500K Special Roadster,In Process,25
89,"Anna's Decorations, Ltd",276,1938 Cadillac V-16 Presidential Limousine,Shipped,24
90,"Iberia Gift Imports, Corp.",484,1936 Mercedes Benz 500k Roadster,Shipped,24
91,Heintze Collectables,227,The Mayflower,Shipped,23
92,Signal Gift Stores,112,1936 Mercedes Benz 500k Roadster,Shipped,22
93,"Bavarian Collectables Imports, Co.",415,Boeing X-32A JSF,Shipped,21
94,Motor Mint Distributors Inc.,486,2002 Yamaha YZR M1,Shipped,20
95,La Rochelle Gifts,119,Diamond T620 Semi-Skirted Tanker,In Process,18
96,Souveniers And Things Co.,282,1936 Mercedes Benz 500k Roadster,In Process,15
97,"Tokyo Collectables, Ltd",398,1936 Mercedes Benz 500k Roadster,Shipped,15

#### Expected Output

<img src='images/expected-output-4.png'>

## Subqueries

Finally, get the first name, last name, employee number, and office code for employees from an office with less than 5 employees.

#### Expected Output

<img src='images/expected-output-5.png'>

# Summary

In this lesson, we reviewed all the major concepts and keywords associated with SQL queries!